* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  height: 150px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}

.left-side {
  width: 30%;
  align-items: center;
  padding: 2rem 0 1rem;
  overflow: scroll;
}

.right-side {
  width: 70%;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 1.5rem 1rem;
}

.td {
  cursor: pointer;
}
.map-container {
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  display: flex;
}

#map {
  height: 780px;
  width: 100vw;
}

#flight-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#flight-list td,
#flight-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#flight-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#flight-list tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#flight-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
  #map {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
  }
  #map {
    width: 100%;
    height: 300px;
  }
}
